/* BODY */
@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,500&display=swap');

body {
    font-family: georgia, times, serif;
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 0;
}

h1{
    line-height: 1.3em;
    font-size: 2rem;
}

p{
    margin-bottom: 1.6em;
}

.container {
    width: 90%;
    max-width: 850px 0;
    margin: 0 auto;
}


/* HEADER */

.estiloHeader {
    color: black;
    font-size: 30px;
    font-weight: 100;
}

.header{
    background: #333;
    color: white;
    padding: 1rem 0;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
}

/*
.logo {
    letter-spacing: 15px;
    font-size: 1.3em;
}
*/

.circular-square {
    border-radius: 50%;
    width: 5vw;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li a {
            display: block;
            padding: 0.5rem 1rem;
            transition: all 0.4s linear;
            border-radius: 5px;;
        }

            .navigation ul li a:hover{
                background: #4a4a4a;
                font-size: 22px;
            }

.main {
    padding-top: 10rem;
}


@media only screen and (max-width: 767px){

    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem; 
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

        .navigation ul {
            display: none;
        }

        .navigation ul.show {
            display: block;
        }

        .navigation ul li {
            display: block;
        }

            .navigation ul li a {
                display: block; 
                padding: 0.5rem 0;
                transition: all 0.4s linear;
                border-radius: 5px;;
            }

                .navigation ul li a:hover{
                    background: #4a4a4a;
                }


}

/* QUIEN SOY */

.quiensoy{
    color: brown;
    width:100%;
    height:100%;
}

.quiensoy ul{
    float:left;
    width:20rem;
    height:22rem;
    margin:5px;
    overflow: hidden;
    object-fit: contain;
    background-image:url(https://scontent.faep17-1.fna.fbcdn.net/v/t1.6435-9/191119199_4548027071893973_7222316364479701428_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=730e14&_nc_ohc=MU3-4kzi0XMAX_WRqk6&_nc_ht=scontent.faep17-1.fna&oh=77faf37a3764dde61b76f9f495b21878&oe=60D1D381);
    background-size:contain;
    background-position: center;
}

.descquiensoy{
    font-family: 'KoHo', sans-serif;
    height:25rem;
    color: black;
    line-height: 1.2em;
    overflow: hidden;
    background-size: cover;
    text-align: justify;
}

.descquiensoy h1{
    text-align: center;
}

/* PROYECTOS */

.proyects img{
    width: 300px;
}

.proyects h3{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.card{
    border-radius: 500px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Lenguajes */

.lenguajes{
    text-align: center;
    
}

.lenguajes img{
    width: 100px;
    transition: all 0.3s linear;
}

.lenguajes img:hover{
    width: 150PX;

}

/* FOOTER */

footer{
    left: 0;
    right: 0;
    position: auto;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 2.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}